html,body{height: 100%;width:100%;font-size:14px;margin:0;padding: 0;}
.m-continer{height: 100%;width:100%;}
.m-continer,.m-continer * {outline: none;margin:0;padding: 0;}
.m-continer > div{width:100%;}
.m-header{
	box-sizing: border-box;
	border-top:1px solid #43d6a1;
	height: 78px;
	background-color: #43d6a1;
}
.m-search{
    width: 100%;
	height: 48px;
	margin-top:30px;
}
.u-sec-txt{
	margin:0 0 0 10px;
	width:calc(100% - 50px);
	height: 100%;
	border:none;
	background-color: transparent;
	font-size: 1.5em;
	color:#fff;
	position: relative;
}
.u-sec-btn{
	display: inline-block;
	width: 21px;
	height: 21px;
	background-image: url(../imgs/search.png);
	background-repeat:no-repeat; 
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	cursor: pointer;
}
.m-content{	height: calc(100% - 128px);	background-color: #fafafa;}
.m-ft-menu{
	height: 50px;
	background-color: #fff;
	box-shadow: 0 -2px 20px rgba(0,0,0,0.2);
}
.u-menu{display: flex;height: 100%;width: 100%;}
.u-menu li{
	list-style: none;
	height: 100%;
	width: 100%;
	position: relative;
}
.u-menu li span{
	position: absolute;
	bottom: 5px;
	left:50%;
	transform:translate(-50%);
	font-size: 14px;
	color: #898989;
}
.u-menu li span::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 50%;
    left: -10px;
    top: -20px;
	background-repeat:no-repeat; 
	background-size:100% 100%;
	-moz-background-size:100% 100%;
}
.u-menu li span:nth-child(1)::before{
	background-color: #0f0;
}
.u-menu li span:nth-child(2)::before{
	background-color: #0f0;
}
.u-menu li span:nth-child(3)::before{
	background-color: #0f0;
}